# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Do not uload any .pdf file
*.pdf

# Log Files
*.log

# Files to ignore
/Sorting/TranspositionSorts/.vs/*
/Sorting/TranspositionSorts/Debug/*
/Sorting/TranspositionSorts/Release/*
/Sorting/TranspositionSorts/packages/*
/Sorting/TranspositionSorts/Tests/SortingTests/Debug/*
/Sorting/TranspositionSorts/Tests/SortingTests/Release/*

/C++/src/Dev/HelloWorld/out/build/*
/C++/src/Dev/HelloWorld/CMakeFiles/*

/*/.vs/*
/*/Debug/
/*/Release/
/*/*/Debug/
/*/*/Release/
/*/packages/

/Graphs/Graphs/packages/*
/Graphs/Graphs/Debug\*
/Graphs/Graphs/.vs/*
Software Design/src/build/*

/Cmake/lib/*